{% extends 'base.html' %}

{% block content %}
{% for author in page_obj %}
{% if author.slug %}
    <p><a class="link" href="{% url 'author_books' author.slug %}" >{{ author.name }}</a></p>
{% endif %}
{% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1"><<</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number}}"><</a>
                </li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
                {% if page_obj.number == page %}
                    <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">>></a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}